.git
.gitignore
.github
Data
Software/*
!Software/funbgcex/
!Software/funbgcex/Dockerfile
!Software/funbgcex/Singularity.def
!Software/funbgcex/build_funbgcex_sif.sh
**/__pycache__
**/.pytest_cache
**/.ipynb_checkpoints
*.log
*.tmp
*.swp
