* text=auto

*.sh text eol=lf
*.py text eol=lf
*.R text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.env text eol=lf
*.tsv text eol=lf
*.csv text eol=lf
*.toml text eol=lf
*.cff text eol=lf
*.gitignore text eol=lf
LICENSE text eol=lf

*.sif binary
*.gz binary
*.bz2 binary
*.tar.gz binary
*.tar.bz2 binary
